name: CI

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        rack-version: ['~> 2.0', '~> 3.0']
        ruby:
          - '2.3'
          - '2.4'
          - '2.5'
          - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - 'head'
        exclude:
          - ruby: '2.3'
            rack-version: '~> 3.0'
    runs-on: ${{ matrix.os }}
    env:
      RACK_VERSION: ${{ matrix.rack-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run test
        run: bundle exec rake test
